<section>
	<h1>
		<%= gravatar_for @freelancer %>
		<%= @freelancer.name %>
	</h1>
</section>
<table>
	<tr>
		<td>Status:</td>
		<td><%= @freelancer.status %></td>
	</tr>
	<tr>
		<td>Daily rate:</td> 
		<td><%= @freelancer.daily_rate %></td>
	</tr>
	<tr>
		<td><%= link_to "Edit profile", edit_freelancer_path(@freelancer) %></td>
	</tr>
</table>